/* Controls the title of the scoreboard */
.eventtitle {
    font-size: 60px;
    text-align: center;
    background-color: rgba(0,0,0, 0.8);
}

/* Controls image background. Deprecated. */
img {
    /* Change image size and center horizontally */
    max-height: 20%;
    max-width: 20%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: darkblue;
}

/* Controls the appearance of the main board, scores, and the background. */
body {
    background-color:black;
    /* set background */
    background-image: url("bg/nakhlite.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    color:yellow;
    font-family: 'Arial Narrow', Arial, sans-serif;
}

/* Sets the appearance of the score backgrounds. Important to keep visibility on the background image. */
table {
    table-layout: fixed;
    /* overflow-x: auto; */
    text-align: center;
    border-spacing: 0px;
    font-size: 200%;
    background-color: rgba(60, 60, 60, 0.8); /* color:dark gray */

    /* width: 400%; */
}

/* Table headings */
th {
    font-weight: bolder;
    font-size: 80%;
    overflow: hidden;
    white-space: normal;
    max-height: 50%;
}

/* Format for big questions like halftime and final */
.bigquestion {
    font-weight: bolder;
    background-color: rgba(120, 120, 120, 0.8); /* color:dimgray */
}

/* Coloring the missed final questions red */
.missed {
    color: crimson;
}

/* Summary boxes such as post-halftime scores*/
.summary {
    font-weight: bolder;
    font-size: 120%;
    height: 125%;
    background-color: rgba(47,79,79,0.8); /* color:darkslategray */
}

/* Final summary boxes */
.final {
    font-size: 150%;
}